################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MutantAPI/obj
/MutantLibrary/obj
/MutantTests/obj
/MutantAPI/bin
/MutantLibrary/bin
/MutantTests/bin
/publish
